body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    margin: 0;
    padding: 0;
}

form {
    background-color: #FFFCF7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #67B588;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #E72313;
    color: #FFFCF7;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FFFCF7;
    color: #E72313;
}
